:root {
  --iceBlue: #175dc7;
  --backgroundColor: #005fec;
  --mygreen: rgb(7, 245, 7);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 57, 95);
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 20px;
  font-size: 45px;
  color: rgb(2, 0, 117);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #005fec;
  display: flex;
  align-items: center;
}

h1:hover {
  cursor: pointer;
}

h3 {
  flex: 0 0 18%;
  text-align: center;
  padding-right: 20px;
  font-size: 65px;
  color: var(--backgroundColor);
  margin-top: 145px;
}

.skillsheader {
  margin-top: 90px;
  font-family: "Quicksand", sans-serif;
}

ul li {
  margin: 20px;
}

ul li a {
  color: rgb(7, 245, 7);
}

.nav-links {
  display: flex;
  list-style: none;
  font-size: 45px;
  cursor: pointer;
}

.tabs {
  color: #005fec;
  padding-bottom: 10px;
  border-bottom: 3px solid;
  font-family: "Quicksand", sans-serif;
  font-weight: 1000;
}

a:link {
  text-decoration: none;
  color: rgb(7, 245, 7);
}

a:visited {
  text-decoration: none;
  color: rgb(7, 245, 7) ff;
}

main {
  max-width: 88%;
  margin: 0 auto;
}

section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 20px 0;
}

/* This is where you need to change some of the header style */
h2 {
  flex: 0 0 18%;
  text-align: center;
  padding-right: 20px;
  font-size: 65px;
  color: var(--backgroundColor);
  font-family: "Quicksand", sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 93%;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.me-paragraphs {
  color: white;
  padding-left: 25px;
  flex: 1;
}

.paragraphs {
  font-size: 35px;
  margin: 10px;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
}

.aboutme {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.mywork {
  margin-top: 60px;
  padding: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.contactme {
  margin-top: 60px;
}

.flexheader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.flex-item {
  border: 5px solid var(--backgroundColor);
  height: 650px;
  display: flex;
  margin: 0.5em;
  flex-basis: calc(75% - 1em);
  padding: 0 0 20px 0;
  background-size: 20%;
  text-decoration: none;
  transition: all 0.5s;
  background-blend-mode: soft-light;
  background-color: rgb(30, 88, 88);
}

.flex-inside {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-item div {
  padding: 8px 10px;
  color: white;
}

.javascript {
  width: 100%;
  height: 350px;
  padding: 10px;
}

.battle {
  width: auto;
  height: 350px;
  padding: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .flex-item,
  .flex-item:first-child {
    flex-basis: 100%;
  }
  .flex-item:first-child {
    min-height: 150px;
  }
  .nav-bar {
    flex-direction: column-reverse;
  }
  .aboutme {
    flex-direction: column;
  }
  .paragraphs {
    font-size: 20px;
    width: 350px;
  }
  .marissaPic,
  .weddingPic {
    width: 100%;
    height: 350px;
    border-radius: 10px;
  }

  .secondP {
    margin-bottom: 80px;
  }
  .imageContainer {
    width: 100%;
  }
  .homeImage {
    flex-direction: column;
  }
  .skillsList {
    flex-direction: column;
  }
  .skillsList li {
    width: 200px;
  }
  .contactDiv {
    display: flex;
    flex-direction: column;
  }
  .contactsBack {
    width: 100%;
    height: 220px;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.3;
  }
  .topForm.emailForm {
    width: 100%;
    margin: 0;
  }

  .pageHeader {
    margin-bottom: 15px;
  }
  .resume {
    margin-bottom: 80px;
  }

  .mobileContainer {
    max-width: 480px;
    margin: auto;
    height: 500px;
    border-radius: 10px;
    height: 300px;
  }
  .nav-bar {
    overflow: hidden;
    position: relative;
  }
  .nav-bar #myLinks {
    display: none;
  }
  .nav-bar a {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 26px;
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .flex-item,
  .flex-item:first-child {
    flex-basis: 100%;
  }
  .flex-item:first-child {
    min-height: 150px;
  }
}

.flex-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.aboutme,
p {
  margin-bottom: 15px;
  line-height: 30px;
  font-size: 18px;
}

.contacts p {
  font-size: 45px;
  color: white;
}

.footer {
  color: white;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #45a049; */
  margin-bottom: 0;
  margin-top: 20px;
  padding: 0px;
  position: fixed;
  bottom: 0;
}

.your-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.yourName,
.yourEmail,
.yourMessage {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: rgb(2, 0, 117);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

input[type="submit"]:focus {
  outline: none;
}

input[type="submit"]:active {
  background-color: rgb(2, 0, 117);
}

.emailForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 550px;
}

.emailInput {
  color: white;
  margin: 10px;
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
}

.topForm {
  margin: 20px;
  width: 750px;
  margin-right: 100px;
  background-color: #085bd8;
  padding: 30px;
  border-radius: 16px;
}

.requiredFields {
  color: white;
}

.profilePic {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  border: solid 6px #005fec;
  margin: 90px 0px 30px 0px;
}

.homeImage {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.homeDescription {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 33px;
  color: white;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.4;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.skillsList {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  color: ;
}

.skillsList li {
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px 20px;
  border: 2px solid #005fec;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #45a049;
}

.skillsList li:hover {
  background-color: #005fec;
  color: #fff;
}

.contactDiv {
  display: flex;
  justify-content: center;
}

textarea {
  width: 100%;
  padding: 25px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contactsBack {
  background-color: #085bd8;
  padding: 30px;
  border-radius: 16px;
  font-family: "Quicksand", sans-serif;
}

.resumeBtn {
  /* Button reset */
  padding: 10px 20px;
  border: none;
  background: none;
  cursor: pointer;
  margin-left: 15px;

  /* Styling */
  color: #000;
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid #000;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.resumeBtn:hover {
  background-color: #000;
  color: #fff;
}

.developer {
  font-size: 35px;
  color: rgb(7, 245, 7);
}
.homeName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageHeader {
  color: var(--mygreen);
  font-family: "Quicksand", sans-serif;
}

.github {
  height: 50px;
}

.linkedIn {
  height: 70px;
}

.marissaPic {
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
}

.weddingPic {
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 30px;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  flex-basis: calc(75% - 1em);
  width: auto;
  border: solid 8px;
  height: 730px;
  justify-content: center;
}

.description {
  font-family: "Oswald", sans-serif;
}

.workLi {
  font-size: 19px;
}

.workLi li {
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px 20px;
  border: 2px solid #005fec;
  border-radius: 4px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #45a049;
  border-radius: 15px;
}

.battleLi li {
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  border: 2px solid #005fec;
  border-radius: 4px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #45a049;
  border-radius: 15px;
}

.arrow {
  margin: 15px;
  height: 80px;
  width: 35px;
  font-size: 45px;
  border-radius: 10px;
  background-color: #45a049;
  align-items: center;
  display: flex;
  justify-content: center;
}

.none{
  display: none;
}
